@import "variables.styl"

#header
	height: $header-height
	background-color: $teal
	width: 'calc(%s - %s * 2)' % (100% $header-padding)
	display: flex
	color: white
	line-height: $header-height
	padding: 0 $header-padding
	> div
		margin: 0px 4px
	.title
		font-size: 28px
		font-weight: 200
	.menu
		flex-grow: 1
		flex-direction: row-reverse
		> div
			margin: 0px 6px
			height: 40px
			cursor: pointer
			&:hover
				border-bottom: solid 2px white
	.logo
		background-image: url(../img/logo_white.png)
		width: 50px
		height: $header-height
		background-size: contain
		background-repeat: no-repeat
		background-position: center center
	.menu
		display: flex
		
@media only screen and (max-width: 450px)
	.title
		display:none