doctype html
html
	head
		title Home
		link(rel="stylesheet" type="text/css" href="/css/index.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0") 

	body
		include header.pug
		#content
			include sidebar.pug
			include map.pug

		script(src="js/index.js")
		// - add this to enable browser reload on app restart
		script(src="/reload/reload.js")