link(rel="stylesheet" type="text/css" href="css/sidebar.css")
#sidebar
	.top-message
		h2 We have found #[.highlight 1 potential collaborator] that matches your filters
		.close-button 
	.location
		h4 Location
		input(type="text" value="Sydney")
	.radius
		h4 Radius
		input(type="range")
	.buttons
		h4 Disciplines
		.button.selected Graphic Design
		.button.selected Motion Graphics 
		.button Painting
		.button Drawing
		.button.selected 3D art 
		.button Performance Art
		.button Sculpture
		.button Ceramics
#show-sidebar
	.plus-button

script(src="js/sidebar.js")