link(rel="stylesheet" type="text/css" href="/css/sidebar.css")
#sidebar
	.top-message
		h2 We have found 1 potential collaborator that matches your filters
	.location
		h3 Location
	.radius
		h3 Radius
	.disciplines
		h3 Disciplines of Collaborators
		.discipline.selected Graphic Design
		.discipline.selected Motion Graphics 
		.discipline Painting
		.discipline Drawing
		.discipline.selected 3D art 
		.discipline Performance Art
		.discipline Sculpture
		.discipline Ceramics

